body {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/077/832/original/back-light.png?1681867943");
}
h1 {
  font-family: "Press Start 2P", cursive;
  font-size: 40px;
  text-align: center;
  color: #ee518d;
}
h2 {
  font-family: "Press Start 2P", cursive;
  font-size: 25px;
  text-align: center;
  color: #fb6ba2;
}
p {
  font-family: "Poppins", sans-serif;
  text-align: justify;
}
img {
  max-width: 100%;
}
button {
  font-family: "Poppins", sans-serif;
  display: block;
  margin: 30px auto;
  border: 2px solid #ff999a;
  background: #ff999a;
  color: white;
  font-size: 20px;
  border-radius: 7px;
  padding: 15px 20px;
  transition: all 180ms ease-in;
}
button:hover {
  background: #f7bcbd;
  cursor: pointer;
}
footer,
footer > a {
  text-align: center;
  margin: 30px 0;
  color: white;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}

.container {
  background-color: #ffeafd;
  max-width: 500px;
  padding: 20px;
  border-radius: 12px;
  display: block;
  margin: 30px auto;
}
.theme-button {
  font-size: 15px;
  color: white;
  background-color: #2e1b5b;
  border: 2px solid #2e1b5b;
  padding: 10px 12px;
}
.theme-button:hover {
  background: #e1d5fd;
  color: black;
  cursor: pointer;
}
.learn-more {
  color: #bd1075;
  font-size: 18px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}
.main-image {
  border-radius: 10px;
  transition: transform 150ms ease-in-out, filter 900ms ease-in;
}
.main-image:hover {
  filter: contrast(70%);
  transform: scale(1.1);
}
.grid {
  margin: 15px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* repeat(3,1fr) */
  grid-gap: 15px;
}
.grid img {
  width: 100%;
  border-radius: 10px;
  transition: all 150ms ease-out;
}
.grid img:hover {
  transform: scale(1.5);
}

/* DARK THEME */

.dark {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/077/833/original/back-dark.png?1681867950");
}
.dark .container {
  background-color: #e1d5fd;
}
.dark h1 {
  color: #310577;
}
.dark h2 {
  color: #5211ba;
}
.dark .theme-button {
  font-size: 15px;
  color: white;
  background-color: #e24795;
  border: 2px solid #e24795;
  padding: 10px 12px;
}
.dark .theme-button:hover {
  background: #f8e0f0;
  color: #e24795;
  cursor: pointer;
}
.dark .learn-more {
  color: #5561d3;
  font-size: 18px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

.dark button {
  font-family: "Poppins", sans-serif;
  display: block;
  margin: 30px auto;
  border: 2px solid #b963c4;
  background: #b963c4;
  color: white;
  font-size: 20px;
  border-radius: 7px;
  padding: 15px 20px;
  transition: all 180ms ease-in;
}
.dark button:hover {
  background: #e5cae8;
  color: #a452a6;
  cursor: pointer;
}

@media (max-width: 500px) {
  h1 {
    font-size: 25px;
  }
  h2 {
    font-size: 19px;
  }
  button {
    font-size: 17px;
  }
  footer,
  footer > a {
    font-size: 15px;
  }
  .dark button {
    font-size: 17px;
  }
}
